{% extends 'overallLayout.html' %}

{% block body %}
<!-- This is the navigation bar at the top of the page-->
{% include 'navBar.html' %}

<div class="pb-5 bg-transparent"></div>


<div class="mx-auto " style="width: 1100px">
    <div class="starter-template  text-center">
        <p class="h1">Schedule an Appointment</p>

    </div>
</div>
<div class="pb-5 bg-transparent"></div>
<div class="container-fluid text-center text-bold bg-warning p-4">
    <h1 class=" text-center text-dark">{{ calMonth }}</h1>
    <!--Must Work on scrolling months option-->
</div><span class="navbar-brand mb-0 h1"></span>

<div class="row">
    <div class="col w-25 mx-auto">
        <form>
            <label for="inputID">Enter a new Blackout Date: </label>
            <input type="date" class="form-control col" id="inputID">
        </form>
       
        <div class="pb-3">
            <p>Select an available time slot for this tutor.</p>
            <select class="form-control">
                <!--There is probally aother way to enter these options outside html, will look at later -->
                <option>9am-10am</option>
                <option>2:00pm-3:00pm</option>

            </select>
            <button type="submit" class="btn btn-warning">submit</button>
        </div>

    </div>
    <div class="col w-50 row mx-auto">
        <table class="table table-bordered ">
            <thead class=" bg-warning text-center">
                <!--Calender Day Headings-->
                <tr>
                    <th style="width: 60px; overflow:auto;">Sunday</th>
                    <th style="width: 60px; overflow:auto;">Monday</th>
                    <th style="width: 60px; overflow:auto;">Tuesday</th>
                    <th style="width: 60px; overflow:auto;">Wednesday</th>
                    <th style="width: 60px; overflow:auto;">Thursday</th>
                    <th style="width: 60px; overflow:auto;">Friday</th>
                    <th style="width: 60px; overflow:auto;">Saturday</th>
                </tr>
            </thead>
            <!--Calender Days Cells-->
            <tbody class="bg-light">

                <tr>

                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>







                </tr>
                <tr>

                    <td>
                        <div style="height: 120px; overflow:auto;">
                            <div class="card">
                                <div class="card-body bg-dark text-white">
                                    Appt@6pm
                                </div>
                            </div>
                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>







                </tr>
                <tr>

                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>







                </tr>
                <tr>

                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>







                </tr>
                <tr>

                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>







                </tr>
                <tr>

                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>







                </tr>
                <tr>

                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>







                </tr>
                <tr>

                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>
                    <td>
                        <div style="height: 120px; overflow:auto;">

                        </div>

                    </td>







                </tr>

            </tbody>
        </table>
    </div>
</div>



{% endblock %}