{% extends 'overallLayout.html' %}

{% block body %}

<!-- This is the navigation bar at the top of the page-->
{% include 'navBar.html' %}

<div class="mx-auto" style="width: 1100px">
    <div class="starter-template  text-center">
        <p class="h1">Update Password</p>

    </div>
</div>
<div class="container mx-auto mw-30 mh-50">
    <div class="card ">
        <div class="p-3 mb-2 bg-transparent text-dark text-centered"></div>

        <div class="card-body px-auto">


            <form action="" method="POST">

                <div class="form-group">
                    <label for="inputCurrentID">Enter TU id:</label>
                    <input name="id" type="text" class="form-control" id="inputID">

                </div>
                <div class="form-group">
                    <label for="inputCurrentPassword">Enter Current Password:</label>
                    <input name="password" type="password" class="form-control" id="inputPassword">
                </div>
                <div class="form-group">
                    <label for="inputNewPassword">Enter New Password:</label>
                    <input name="new_password" type="password" class="form-control" id="inputNewPasswordName">

                </div>
                <div class="form-group">
                    <label for="inputRepeatNewPassword">Re-type New Password:</label>
                    <input name="new_password2" type="password" class="form-control" id="inputRepeatNewPassword">
                </div>

                <button type="submit" class="btn btn-dark">Submit</button>
            </form>



        </div>
    </div>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}

{% endblock %}
