{% extends 'overallLayout.html' %}

{% block body %}

<!-- This is the navigation bar at the top of the page-->
{% include 'navBar.html' %}

<div class="mx-auto" style="width: 1100px">
    <div class="starter-template  text-center">
        <p class="h1">My Work Record</p>

    </div>
</div>
<div class="py-5 bg-transparent"></div>

<div class="card bg-light mb-3 mx-auto" style="max-width: 40rem;">
    <div class="card-header">My Hours</div>
    <div class="card-body">
        <h5 class="card-title">Total Time: </h5>
        <p class="card-text"> {{ id }} </p>
        <h5 class="card-title"> List of Appointments: </h5>
        <p class="card-text"> {{ hours }} </p>




    </div>

</div>


{% endblock %}
