{% block body %}
    <div class="container-fluid text-center text-bold bg-warning p-4">
        <h1 class=" text-center text-bold">{{ calMonth }}</h1>
        <!--Must Work on scrolling months option-->
    </div><span class="navbar-brand mb-0 h1"></span>

<div class="col w-60 mx-auto">
    <table class="table table-bordered">
        <thead class=" bg-warning text-center">
            <!--Calender Day Headings-->
            <tr>
                <th style="width: 300px; overflow:auto;">Sunday</th>
                <th style="width: 300px; overflow:auto;">Monday</th>
                <th style="width: 300px; overflow:auto;">Tuesday</th>
                <th style="width: 300px; overflow:auto;">Wednesday</th>
                <th style="width: 300px; overflow:auto;">Thursday</th>
                <th style="width: 300px; overflow:auto;">Friday</th>
                <th style="width: 300px; overflow:auto;">Saturday</th>
            </tr>
        </thead>
        <!--Calender Days Cells-->
        <tbody class="bg-light">
            <tr>

                <td>
                    <div style="height: 300px; overflow:auto;">



                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>







            </tr>
            <tr>

                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>







            </tr>
            <tr>

                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>







            </tr>
            <tr>

                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>







            </tr>
            <tr>

                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>







            </tr>
            <tr>

                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>
                <td>
                    <div style="height: 300px; overflow:auto;">

                    </div>

                </td>







            </tr>

        </tbody>
    </table>
</div>
    
    
    {% endblock %}
